<section class="section sponsor">
        <div class="container">
            <div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 partners-title">Apoios</div>
            <div class="col-md-offset-1 col-md-5 col-sm-6 col-xs-6 partners-title">Parcerias</div>
            <ul class="sponsor-list one-row list-inline row">
                <li class="col-md-offset-1 col-md-1 col-sm-1 col-xs-1">
                    <a href="http://www.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/uminho.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="https://www.sas.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/sasum.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="https://aaum.pt" target="_blank"><img class="img-responsive" src="images/logos/aaum.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="http://www.ipdj.pt" target="_blank"><img class="img-responsive" src="images/logos/ipdj.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="http://www.cm-braga.pt" target="_blank"><img class="img-responsive" src="images/logos/cmb.png" alt="" /></a>
                </li>
                <li class="col-md-offset-1 col-md-1 col-sm-1 col-xs-1 ">
                    <a href="http://www.apc-instruments.com"  target="_blank"><img class="img-responsive" src="images/logos/apc.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="https://facebook.com/carpenoctembraga"  target="_blank"><img class="img-responsive" src="images/logos/carpenoctem.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="http://www.queirosfotografo.com"  target="_blank"><img class="img-responsive" src="images/logos/queiros.png" alt="" /></a>
                </li>
                <li class="col-md-1 col-sm-1 col-xs-1">
                    <a href="http://www.musicaemusicos.pt/"  target="_blank"><img class="img-responsive" src="images/logos/mm.png" alt="" /></a>
                </li>
            </ul>
        </div>
    </section>