<section class="section sponsor">
        <div class="container" style="margin-top:-30px;">
            <div class="row text-center">
                <span class="col-md-12"><h4 class="title">Apoios</h4></span>
            </div>
            <ul class="sponsor-list list-inline row">
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="http://www.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/uminho.png" alt="" /></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="https://www.sas.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/sasum.png" alt="" /></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="https://aaum.pt" target="_blank"><img class="img-responsive" src="images/logos/aaum.png" alt="" /></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="http://www.ipdj.pt" target="_blank"><img class="img-responsive" src="images/logos/ipdj.png" alt="" /></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="http://www.cm-braga.pt" target="_blank"><img class="img-responsive" src="assets/logos/cmb.png" alt="" /></a>
                </li>
                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="http://www.juntasvictor.pt" target="_blank"><img class="img-responsive" src="images/logos/svitor.png" alt="" /></a>
                </li>
            </ul>
            <div class="row text-center">
                <span class="col-md-12"><h4 class="title">Parcerias</h4></span>
            </div>
            <ul class="sponsor-list list-inline row">
                <li class="col-md-2 col-sm-2 col-xs-2 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                    <a href="http://www.apc-instruments.com" target="_blank"><img class="img-responsive" src="images/logos/apc.png" alt="" /></a>
                </li>

                <li class="col-md-2 col-sm-2 col-xs-2">
                    <a href="http://www.queirosfotografo.com" target="_blank"><img class="img-responsive" src="images/logos/queiros.png" alt="" /></a>
                </li>
            </ul>
        </div>
    </section>