<section class="section carousel-wrapper" style="padding-bottom: 100px; padding-top: 30px">
        <div class="container">
            <h2 class="title text-center">Testemunhos e citações</h2>
            <div id="quotes-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#quotes-carousel" data-slide-to="0" class="active" style="background:  url('images/quotes/carlos_videira.jpg');background-size:cover;"></li>
                    <li data-target="#quotes-carousel" data-slide-to="1" style="background:url('images/quotes/ricardo_sousa.jpg');background-size:cover;"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <figure class="profile"><img class="img-circle quotes" src="images/quotes/carlos_videira.jpg" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>A ARCUM é uma das instituições mais prestigiadas do universo que envolve a academia minhota. A sua intensa atividade tem representado um contributo inestimável para a construção da identidade cultural da nossa academia e para a preservações das suas tradições académicas muito próprias. Sem a ARCUM essa mesma identidade e essas mesmas tradições estariam certamente incompletas.</p>
                            </blockquote>
                            <p class="source">Carlos Videira
                                <br /><span class="title">Ex-Presidente da Associação Académica da Universidade do Minho</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <figure class="profile"><img class="img-circle quotes" src="images/quotes/ricardo_sousa.jpg" alt="" /></figure>
                        <div class="content">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                <p>A ARCUM é, sem qualquer dúvida, um dos mais importantes patrimónios artísticos da cidade de Braga. Através dos seus vários grupos consegue, com qualidade elevada, projetar o talento jovem de uma região e defender a cultura e grandeza da Universidade onde está inserida.</p>
                            </blockquote>
                            <p class="source">Ricardo Sousa
                                <br /><span class="title">Presidente da Associação Synergia</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>