<%= render "shared/navbar" %>
<div class="headline-bg cultural-headline-bg cultural">
    <div class="overlay"></div>
</div>
<section class="content-section section section-on-bg">
    <div class="content-container container text-center">
        <div class="content-container-inner">
            <h1 class="title container text-center">Tuna Universitária do Minho</h1>
            <hr>
            <div class="about">

            </div>
        </div>
    </div>
</section>


<%= render "shared/footer"%>