<%= render "shared/navbar" %>
<div class="headline-bg contactos-headline-bg">
        <div class="overlay"></div>
    </div>
    <section class="content-section section section-on-bg">
        <div class="content-container container text-center">
            <div class="content-container-inner">
                <h1 class="title container text-center">Contactos</h1>
                <hr>
                <div class="row" style="margin-top: 60px;text-align:center" >
                    <div class="col-md-3 col-md-offset-1"><img src="images/logos/arcum.png" class="img-responsive" /></div>
                    <div class="col-md-3 col-md-offset-1" style="padding-top:20px;">
                        <div class="col-md-2"><i class="fa fa-map-marker"></i></div>
                        <div class="col-md-10">
                            <span>Rua D. Pedro V, 88</span>
                            <br>
                            <span>4710-374, Braga</span>
                            <br>
                            <span>Portugal</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-top:20px;">
                        <span><i class="fa fa-phone"></i> +351 253 610 877</span>
                        <br>
                        <span><i class="fa fa-envelope"></i> arcum@arcum.pt</span>
                        <br>
                        <a href="https://www.facebook.com/arcum1991/" target="_blank"><hr><i class="fa fa-facebook"></i>acebook </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section groups group-contact">
        <div class="container">
            <div class="row">
                <hr>
                <h3 class="text-center title">Os nossos grupos</h3>
                <hr>
                <div class="groups-list">
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/bomboemia/logo_full.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name">Bomboémia - Grupo de Percussão da Universidade do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> bomboemia@arcum.pt</p><p><b>Responsável: Manuel Pinto</b></p><p><i class="fa fa-phone"></i> +351 919 770 323</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/gfum/logo.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name">Grupo Folclórico da Universidade do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> grupofolclorico@arcum.pt</p><p><b>Responsável: Catarina Cubo</b></p><p><i class="fa fa-phone"></i> +351 963 643 519</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/gmp/logo.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name">Grupo de Música Popular da Universidade do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> grupodemusicapopular@arcum.pt</p><p><b>Responsável: João Barbosa</b></p><p><i class="fa fa-phone"></i> +351 918 843 886</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/gpum/logo_alt.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name">Grupo de Poesia da Universidade do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> gpum@arcum.pt</p><p><b>Responsável: João Sequeira</b></p><p><i class="fa fa-phone"></i> +351 913 488 576</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/tum/logo.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name">Tuna Universitária do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> tum@arcum.pt</p><p><b>Responsável: Ivan Gomes</b></p><p><i class="fa fa-phone"></i> +351 910 439 236</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="group-inner">
                            <div class="content">
                                <div class="col-md-4 com-sm-4 col-xs-4">
                                    <img src="images/tunao/logo.png" class="img-responsive">

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <h3 class="group-name" style="font-size: 16px;">Tun'ao Minho - Tuna Académica Feminina da Universidade do Minho</h3>


                                </div><div class="col-md-10 col-md-offset-2 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10"><hr><p><i class="fa fa-envelope"></i> tunaominho@arcum.pt</p><p><b>Responsável: Patrícia Vidrago</b></p><p><i class="fa fa-phone"></i> +351 917 956 075</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sections-wrapper">
        <section class="section">
            <div class="container">
            </div>
        </section>
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <div class="sections-wrapper">
            <%= render "shared/partners"%>
            <section class="section groups-section">
                <div class="container-fluid groups-bg">
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                    <div class="g-overlay"></div>
                </div>
            </section>
        </div>
        <%= render "shared/footer"%>