<%= render "shared/navbar", active:"cultural" %>
<div class="headline-bg cultural-headline-bg cultural">
    <div class="overlay"></div>
</div>
<section class="content-section section section-on-bg">
    <div class="content-container container text-center">
        <div class="content-container-inner">
            <h1 class="title container text-center">ARCUM Cultural</h1>
            <hr>
            <div class="about">
                <p>Um mundo e panorama que a ARCUM se orgulha de poder incluir na sua área de trabalho e ação a cada ano que passa é, sem dúvida, o mundo da responsabilidade social! Um mundo onde o ambiente e o balanço da riqueza e condições de vida são tidos em consideração para o desenvolvimento e crescimentos de ambos.</p>
                <p>Ao nível metodológico, a ARCUM opera a dois níveis: Interno, onde através dos nossos eventos e ações se tenta transmitir para as equipas de trabalho, e para os nossos parceiros e apoiantes, as noções básicas inerentes a temáticas e métodos de contribuir para o seu correto e rápido crescimento; Externo, onde a ARCUM intervém no sentido de criar cada vez mais parcerias com associações, municípios e outras entidades públicas/privadas no sentido de desenvolver novos projetos nesta área, capazes de acrescentar valor e ainda despoletar nos intervenientes a semente de vontade e interesse no associativismo em não parar e em desenvolver, por si, outras novas parcerias na área da responsabilidade social.</p>
                <p>Desta forma a ARCUM consegue contribuir e fazer a diferença naquela que é uma geração que não consegue só depender da ajuda corporativa e do governo para o seu desenvolvimento e sustentabilidade naquele que é um combate diário contra a desigualdade social e fraca sensibilização para a preservação ambiental.</p>
            </div>
        </div>
    </div>
</section>
<section class="section groups-section">
    <div class="container-fluid groups-bg">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
</section>
<div class="sections-wrapper" id="cultural">
    <section class="section groups">
        <div class="container">
            <hr>
            <h2 class="title text-center">Os nossos grupos</h2>
            <hr>
            <div class="row m-t-80">
                <div class="groups-list">
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="bmb-modal" href="#"><img class="img-responsive" src="images/bomboemia/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/bomboemia/logo_full.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="bmb-modal" href="#"><h3 class="group-title" style="font-size:16px;">Bomboémia - Grupo de Percussão da Universidade do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="gfum-modal" href="#"><img class="img-responsive" src="images/gfum/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/gfum/logo.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="gfum-modal" href="#"><h3 class="group-title">Grupo Folclórico da Universidade do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="gmp-modal" href="#"><img class="img-responsive" src="images/gmp/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/gmp/logo.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="gmp-modal" href="#"><h3 class="group-title">Grupo de Música Popular da Universidade do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="gpum-modal" href="#"><img class="img-responsive" src="images/gpum/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/gpum/logo_alt.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="gpum-modal" href="#"><h3 class="group-title">Grupo de Poesia da Universidade do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="tum-modal" href="#"><img class="img-responsive" src="images/tum/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/tum/logo.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="tum-modal" href="#"><h3 class="group-title">Tuna Universitária do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="tunao-modal" href="#"><img class="img-responsive" src="images/tunao/membro.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/tunao/logo.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="tunao-modal" href="#"><h3 class="group-title" style="font-size:16px;">Tun'ao Minho - Tuna Académica Feminina da Universidade do Minho</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="section groups-section">
    <div class="container-fluid groups-bg">
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
        <div class="g-overlay"></div>
    </div>
</section>
<section class="section carousel-wrapper bg-fix">
    <div class="container">
        <hr>
        <h2 class="title text-center">Actividades</h2>
        <hr>
        <div class="container m-t-80">
            <div class="row">
                <div class="groups-list">
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="fitu-modal" href="#"><img class="img-responsive" src="images/actividades/fitu.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/logos/logo_fitu.png" class="img-responsive"></div>
                                <div class="col-md-7">
                                    <a class="fitu-modal" href="#"><h3 class="group-title">Festival Internacional de Tunas Universitárias</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="gfum-modal" href="#"><img class="img-responsive" src="images/actividades/fump.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/logos/logo_fump.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="gfum-modal" href="#"><h3 class="group-title">Festival Universitário de Música Popular</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group col-md-offset-0 col-sm-offset-0 col-md-4 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="group-inner">
                            <figure class="group-thumb">
                                <a class="fuap-modal" href="#"><img class="img-responsive" src="images/actividades/fuap.jpg" alt=""></a>
                            </figure>
                            <div class="content">
                                <div class="col-md-4 col-sm-4 col-xs-4"><img src="images/logos/logo_fuap.png" class="img-responsive"></div>
                                <div class="col-md-8">
                                    <a class="fuap-modal" href="#"><h3 class="group-title">Festival Universitário de Artes Performativas</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section groups-section">
    <div class="container-fluid groups-bg">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
</section>
<div class="sections-wrapper">
<%= render "shared/partners" %>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
</div>
<%= render "shared/footer"%>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
     It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>