
    <div class="headline-bg cultural-headline-bg cultural">
        <div class="overlay"></div>
    </div>
    <section class="content-section section section-on-bg">
        <div class="content-container container text-center">
            <div class="content-container-inner">
                <h1 class="title container text-center">ARCUM Cultural</h1>
                <hr>
                <div class="about">
                    <p>Um mundo e panorama que a ARCUM se orgulha de poder incluir na sua área de trabalho e ação a cada ano que passa é, sem dúvida, o mundo da responsabilidade social! Um mundo onde o ambiente e o balanço da riqueza e condições de vida são tidos em consideração para o desenvolvimento e crescimentos de ambos.</p>
                    <p>Ao nível metodológico, a ARCUM opera a dois níveis: Interno, onde através dos nossos eventos e ações se tenta transmitir para as equipas de trabalho, e para os nossos parceiros e apoiantes, as noções básicas inerentes a temáticas e métodos de contribuir para o seu correto e rápido crescimento; Externo, onde a ARCUM intervém no sentido de criar cada vez mais parcerias com associações, municípios e outras entidades públicas/privadas no sentido de desenvolver novos projetos nesta área, capazes de acrescentar valor e ainda despoletar nos intervenientes a semente de vontade e interesse no associativismo em não parar e em desenvolver, por si, outras novas parcerias na área da responsabilidade social.</p>
                    <p>Desta forma a ARCUM consegue contribuir e fazer a diferença naquela que é uma geração que não consegue só depender da ajuda corporativa e do governo para o seu desenvolvimento e sustentabilidade naquele que é um combate diário contra a desigualdade social e fraca sensibilização para a preservação ambiental.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
    </section>
    <div class="sections-wrapper" id="cultural">
        <section class="section groups">
            <div class="container">
                <hr>
                <h2 class="title text-center">Os nossos grupos</h2>
                <hr>
                <div class="row m-t-80">
                    <div class="groups-list">
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="bmb-modal" href="#modalbmb"><img class="img-responsive" src="images/bomboemia/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/bomboemia/logo_full.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="bmb-modal" href="#modalbmb"><h3 class="group-title">Bomboémia - Grupo de Percussão da Universidade do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="gfum-modal" href="#modalgfum"><img class="img-responsive" src="images/gfum/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/gfum/logo.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="gfum-modal" href="#modalgfum"><h3 class="group-title">Grupo Folclórico da Universidade do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="gmp-modal" href="#modalgmp"><img class="img-responsive" src="images/gmp/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/gmp/logo.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="gmp-modal" href="#modalgmp"><h3 class="group-title">Grupo de Música Popular da Universidade do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="gpum-modal" href="#modalgpum"><img class="img-responsive" src="images/gpum/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/gpum/logo_alt.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="gpum-modal" href="#modalgpum"><h3 class="group-title">Grupo de Poesia da Universidade do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="tum-modal" href="#modaltum"><img class="img-responsive" src="images/tum/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/tum/logo.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="tum-modal" href="#modaltum"><h3 class="group-title">Tuna Universitária do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="tunao-modal" href="#modaltunao"><img class="img-responsive" src="images/tunao/membro.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/tunao/logo.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="tunao-modal" href="#modaltunao"><h3 class="group-title">Tun'ao Minho - Tuna Académica Feminina da Universidade do Minho</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <section class="section carousel-wrapper bg-fix">
        <div class="container">
            <hr>
            <h2 class="title text-center">Actividades</h2>
            <hr>
            <div class="container m-t-80">
                <div class="row">
                    <div class="groups-list">
                        <div class="group col-md-4 col-sm-6 col-xs-12 col-md-offset-2">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="fitu-modal" href="#modalfitu"><img class="img-responsive" src="images/actividades/fitu.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-5"><img src="images/logos/logo_fitu.png" class="img-responsive"></div>
                                    <div class="col-md-7">
                                        <a class="fitu-modal" href="#modalfitu"><h3 class="group-title">Festival Internacional de Tunas Universitárias</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="gfum-modal" href="#modalgfump"><img class="img-responsive" src="images/actividades/fump.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/logos/logo_fump.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="gfum-modal" href="#modalfump"><h3 class="group-title">Festival Universitário de Música Popular</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <div class="group col-md-4 col-sm-6 col-xs-12">
                            <div class="group-inner">
                                <figure class="group-thumb">
                                    <a class="fuap-modal" href="#modalfuap"><img class="img-responsive" src="images/actividades/fuap.jpg" alt=""></a>
                                </figure>
                                <div class="content">
                                    <div class="col-md-4"><img src="images/logos/logo_fuap.png" class="img-responsive"></div>
                                    <div class="col-md-8">
                                        <a class="fuap-modal" href="#modalfuap"><h3 class="group-title">Festival Universitário de Artes Performativas</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
    </section>
    <div class="sections-wrapper">
        <section class="section sponsor">
            <div class="container">
                <div class="col-md-offset-1 col-md-5 partners-title">Apoios</div>
                <div class="col-md-offset-1 col-md-5 partners-title">Parcerias</div>
                <ul class="sponsor-list one-row list-inline row">
                    <li class="col-md-offset-1 col-md-1 col-sm-1 col-xs-1">
                        <a href="http://www.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/uminho.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="https://www.sas.uminho.pt" target="_blank"><img class="img-responsive" src="images/logos/sasum.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="https://aaum.pt" target="_blank"><img class="img-responsive" src="images/logos/aaum.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="http://www.ipdj.pt" target="_blank"><img class="img-responsive" src="images/logos/ipdj.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="http://www.cm-braga.pt" target="_blank"><img class="img-responsive" src="images/logos/cmb.png" alt="" /></a>
                    </li>
                    <li class="col-md-offset-1 col-md-1 col-sm-1 col-xs-1 ">
                        <a href="http://www.apc-instruments.com"><img class="img-responsive" src="images/logos/apc.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="https://facebook.com/carpenoctembraga"><img class="img-responsive" src="images/logos/carpenoctem.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="http://www.queirosfotografo.com"><img class="img-responsive" src="images/logos/queiros.png" alt="" /></a>
                    </li>
                    <li class="col-md-1 col-sm-1 col-xs-1">
                        <a href="http://www.musicaemusicos.pt/"><img class="img-responsive" src="images/logos/mm.png" alt="" /></a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
    </div>
    <footer id="contacts" class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col contact col-md-2 col-sm-4 col-xs-12 col-md-offset-3">
                        <div class="footer-col-inner">
                            <h3 class="title">Contacte-nos</h3>
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">Rua D. Pedro V, 88</span>
                                <br>
                                <span class="postal-code">4710-374</span>
                                <br>
                                <span class="country-name">Portugal</span>
                                </span>
                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>+351 253 610 877</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:arcum@arcum.pt">arcum@arcum.pt</a></p>
                        </div>
                    </div>
                    <div class="footer-col connect col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                        <div class="footer-col-inner">
                            <a target="_blank" href="https://www.google.pt/maps/place/R.+Dom+Pedro+V+88,+4710+Braga/@41.5535103,-8.4108299,16z/data=!4m7!1m4!3m3!1s0xd24fe96383d6ae1:0x6d251294ca70b35f!2sR.+Dom+Pedro+V+88,+4710+Braga!3b1!3m1!1s0xd24fe96383d6ae1:0x6d251294ca70b35f"><img src="images/map.png" style="border: 8px solid #fff;border-radius: 7px;"></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <div class="container text-right">
                <small class="copyright">Copyright @ 2015 - Associação Recreativa e Cultural Universitária do Minho</small>
            </div>
        </div>
    </footer>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe.
         It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalbmb">
        <div id="closebt-container" class="close-modalbmb">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption bombos">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/bomboemia/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Bomboémia - Grupo de Percussão da Universidade do Minho</h1>
                                <p class="group_text">"Que o som dos bombos e rufes se propague e vá ecoando no interior de cada um"</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 bombos group-desc">
                        <p>Os Bomboémia são o grupo de percussão da Universidade do Minho, criado após a reestruturação do Grupo de Cabeçudos, Gigantones e Zés ‐Pereiras. </p>
                        <p>Neste participam não só estudantes da universidade do Minho mas também cidadãos residentes em Braga. Apesar de não estarem tão ativos, tem membros espalhados por Portugal e arredores. </p>
                        <p>Este grupo trabalha para trazer a percussão e os ritmos contagiantes ao público, tendo dado espetáculos não só em Portugal mas também em Espanha, Irlanda, Suíça, França, Holanda e Bélgica.</p>
                        <p>Os Bomboémia contam a partir de ano com uma década de existência e esperam continuar a crescer e a elevar a fasquia. Esperam continuar a evoluir como grupo e terem sempre presente um espirito vivaz e de alegria. Para o futuro têm como objetivo incorporar ritmos quentes e contagiantes no seio da sua base e origem tradicional.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery01.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery01.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery02.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery02.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery03.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery03.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <!--<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery04.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery04.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery05.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery05.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery06.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery06.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/bomboemia/gallery07.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/bomboemia/gallery07.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Bomboémia: Grupo de Percussão da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalgfum">
        <div id="closebt-container" class="close-modalgfum">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption gfum">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/gfum/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Grupo Folclórico da Universidade do Minho</h1>
                                <p class="group_text">"Um povo que renega o seu passado é um povo sem futuro"</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 gfum group-desc">
                        <p>O Grupo Folclórico da Universidade do Minho, defensor do enriquecimento da esfera cultural da academia minhota, teve a sua estreia no dia 22 de Junho de 1993, integrada nas festas Sanjoaninas da cidade de Braga. É um grupo constituído por alunos, ex-alunos e funcionários da Universidade do Minho.</p>
                        <p>Do seu reportório fazem parte danças e cantares do Baixo Minho, nomeadamente viras, chulas e malhões, tendo como suporte musical uma ronda composta por cavaquinhos, violas braguesas, concertinas, violas, bombo, ferrinhos e reco-recos. </p>
                        <p>Os seus trajes - de capotilha ou Vale do Cávado, de Sequeira, de Encosta, de Ribeira de Valdeste e de trabalho - representam a diversidade de zonas existentes na região do Baixo Minho.</p>
                        <p>A sua criação prende-se assim com os objectivos de recolher, preservar e divulgar toda a cultura do Baixo Minho, tão rica e tão diversa em tradições. Este grupo afirma-se como um legítimo defensor deste património cultural e dá a conhecer as mais variadas manifestações típicas da cultura do povo Minhoto: o trajar, o cantar e o dançar nos finais do séc. XIX inícios do séc. XX.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00001.jpg" itemprop="contentUrl" data-size="2576x4592">
                                    <img src="images/gfum/gallery00001.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">A U.M. vai ao S. João - Avenida Central - 15.Junho.2015</figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00002.jpg" itemprop="contentUrl" data-size="4810x3260">
                                    <img src="images/gfum/gallery00002.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Concerto Sanjoanino por 'Origem Tradicional' - Avenida Central - 21.Junho.2015 </figcaption>
                            </figure>
                            <!--<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00003.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00003.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Concerto Sanjoanino por 'Origem Tradicional' - Avenida Central - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00004.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00004.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Concerto Sanjoanino por 'Origem Tradicional' - Avenida Central - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00005.jpg" itemprop="contentUrl" data-size="3500×2329">
                                    <img src="images/gfum/gallery00005.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo das Rusgas - S. João Braga - 23.Junho.2014</figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00006.jpg" itemprop="contentUrl" data-size="2500×1664">
                                    <img src="images/gfum/gallery00006.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo das Rusgas - S. João Braga - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00007.jpg" itemprop="contentUrl" data-size="2500×1668">
                                    <img src="images/gfum/gallery00007.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo das Rusgas - S. João Braga - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00008.jpg" itemprop="contentUrl" data-size="2500×1668">
                                    <img src="images/gfum/gallery00008.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo das Rusgas - S. João Braga - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00009.jpg" itemprop="contentUrl" data-size="1196×1807">
                                    <img src="images/gfum/gallery00009.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo de Abertura das Festas de S. João - Avenida Central - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00010.jpg" itemprop="contentUrl" data-size="1156×1745">
                                    <img src="images/gfum/gallery00010.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo de Abertura das Festas de S. João - Avenida Central - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00011.jpg" itemprop="contentUrl" data-size="4896×3264">
                                    <img src="images/gfum/gallery00011.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Cortejo de Abertura das Festas de S. João - Avenida Central - 23.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00012.jpg" itemprop="contentUrl" data-size="1200×799">
                                    <img src="images/gfum/gallery00012.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Final Taça de Portugal - Estádio do Jamor - 31.Maio.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00013.jpg" itemprop="contentUrl" data-size="2048×1363">
                                    <img src="images/gfum/gallery00013.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Final Taça de Portugal - Estádio do Jamor - 31.Maio.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00014.jpg" itemprop="contentUrl" data-size="2048×1363">
                                    <img src="images/gfum/gallery00014.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Final Taça de Portugal - Estádio do Jamor - 31.Maio.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00015.jpg" itemprop="contentUrl" data-size="2041×1629">
                                    <img src="images/gfum/gallery00015.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Parada Folclórica - S. João Braga - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00016.jpg" itemprop="contentUrl" data-size="1366×2048">
                                    <img src="images/gfum/gallery00016.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Parada Folclórica - S. João Braga - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00017.jpg" itemprop="contentUrl" data-size="1836×3264">
                                    <img src="images/gfum/gallery00017.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Parada Folclórica - S. João Braga - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00018.jpg" itemprop="contentUrl" data-size="1836×3264">
                                    <img src="images/gfum/gallery00018.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Parada Folclórica - S. João Braga - 21.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00019.jpg" itemprop="contentUrl" data-size="3456×5184">
                                    <img src="images/gfum/gallery00019.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Parada Folclórica - S. João Braga - 22.Junho.2014</figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00020.jpg" itemprop="contentUrl" data-size="5184×3456">
                                    <img src="images/gfum/gallery00020.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">RÉCITA - Theatro Circo - 1.Dezembro.2014 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00021.jpg" itemprop="contentUrl" data-size="3456×5184">
                                    <img src="images/gfum/gallery00021.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">RÉCITA - Theatro Circo - 1.Dezembro.2014 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00022.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00022.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Santiago de Compostela - 6.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00023.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00023.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Santiago de Compostela - 6.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00024.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00024.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Santiago de Compostela - 6.Junho.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00025.jpg" itemprop="contentUrl" data-size="3456×2304">
                                    <img src="images/gfum/gallery00025.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Sessão Fotográfica - Braga - 21.Março.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00026.jpg" itemprop="contentUrl" data-size="2000×1712">
                                    <img src="images/gfum/gallery00026.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Sessão Fotográfica - Braga - 21.Março.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00027.jpg" itemprop="contentUrl" data-size="3424×2112">
                                    <img src="images/gfum/gallery00027.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Sessão Fotográfica - Braga - 21.Março.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00028.jpg" itemprop="contentUrl" data-size="1366×2048">
                                    <img src="images/gfum/gallery00028.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Workshop Danças Tradicionais com Origem Tradicional - Festival Castro Galaico - 11.Julho.2015</figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00029.jpg" itemprop="contentUrl" data-size="2784×1848">
                                    <img src="images/gfum/gallery00029.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">XIII Vozes sobre a cidade com CAUM - Bom Jesus - 10.Julho.2015</figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00030.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00030.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">XXIII ENEF - Coimbra - 25.Abril.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00031.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00031.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">XXIII ENEF - Coimbra - 25.Abril.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00032.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00032.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">XXIII ENEF - Coimbra - 25.Abril.2015 </figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gfum/gallery00033.jpg" itemprop="contentUrl" data-size="4592×2576">
                                    <img src="images/gfum/gallery00033.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">XXIII ENEF - Coimbra - 25.Abril.2015 </figcaption>
                            </figure>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalgmp">
        <div id="closebt-container" class="close-modalgmp">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption gmp">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/gmp/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Grupo de Música Popular da Universidade do Minho</h1>
                                <p class="group_text">"Frase GMP"</p>
                                <hr>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 gmp group-desc">
                        <p>O Grupo de Música Popular da Universidade do Minho foi fundado em 1984 por iniciativa de um grupo de estudantes da Universidade do Minho.</p>
                        <p>Percursor de todos os grupos da academia minhota, tem vindo desde então a desenvolver a sua actividade em prol da recolha e divulgação da música tradicional portuguesa. O grupo dedica-se não só à execução de temas populares como também à sua recriação, interpretados por um coro harmoniosamente associado à simplicidade dos sons dos instrumentos populares.</p>
                        <p>Ao longo da sua existência, tem participado em inúmeros espectáculos, em Portugal e no estrangeiro. A nível nacional, participa em diversos eventos, desde conferências a romarias, casamentos ou baptizados, passando pelas actuações de rua e de beneficência. Além destes, realiza actuações no seio da academia minhota.</p>
                        <p>O Grupo de Música Popular da Universidade do Minho efectuou o seu primeiro registo de repertório em 1995, gravando um CD intitulado “Cumpadre”, tendo este sido reeditado em 2002.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gmp/gallery02.jpg" itemprop="contentUrl" data-size="640x480">
                                    <img src="images/gmp/gallery02.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Grupo de Música Popular da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gmp/gallery03.jpg" itemprop="contentUrl" data-size="640x480">
                                    <img src="images/gmp/gallery03.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Grupo de Música Popular da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalgpum">
        <div id="closebt-container" class="close-modalgpum">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption gpum">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/gpum/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Grupo de Poesia da Universidade do Minho</h1>
                                <p class="group_text">"Texto alusivo ao grupode poesia, uma coisa bonita e poética"</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 gpum group-desc">
                        <p>O Grupo de Poesia, Guitarra e Flauta, foi fundado em 1984, tendo como objectivos preservar e divulgar a melodia da Guitarra Portuguesa na sua vertente coimbrã com a declamação de poesia.</p>
                        <p>Integrado na ARCUM desde 1991, este grupo explora as potencialidades da fusão entre a música e a declamação de poesia e trechos de lírica portuguesa.</p>
                        <p>A divulgação da poesia de poetas lusos, bem conhecidos de todos e também daqueles menos conhecidos, é outra das apostas deste grupo. No ano de 2002 o Grupo de Poesia, Guitarra e Flauta participou na gravação do CD “Poesia” de Aurelino Costa em homenagem a José Régio na comemoração dos cem anos do seu nascimento. Este CD foi lançado pela Câmara Municipal da Póvoa de Varzim e contou também com a participação do maestro Victorino de Almeida.</p>
                        <p>Em 2006 este grupo foi alvo de uma remodelação, passando a chamar-se “Grupo de Poesia” e o leque de instrumentos utilizados foi alargado, não se limitando apenas à guitarra portuguesa, clássica e flauta. Este grupo percorreu toda a Europa actuando em espaços variados, como feiras de livro, exposições de pintura e outras, inaugurações e tomadas de posse.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gpum/gallery01.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/gpum/gallery01.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Grupo de Poesia da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/gpum/gallery02.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/gpum/gallery02.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Grupo de Poesia da Universidade do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modaltum" tabindex=1>
        <div id="closebt-container" class="close-modaltum">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption tum">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/tum/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Tuna Universitária do Minho</h1>
                                <p class="group_text">"E o Gerês me carregou na alma vestes de veludo encarnado"</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 tum group-desc">
                        <p>No ano de 1990 foi fundada a Tuna Universitária do Minho por um irreverente grupo de jovens, unidos pelo gosto à música e pela alegria do convívio, constituindo-se ao longo dos anos como Embaixatriz Académica da Universidade do Minho. Sempre espalhando a alegria e irreverência que a marca, deixa saudade por todas as terras e locais por onde já passou, quer território nacional, quer internacional como são exemplo países como o Peru, Brasil, México, Irlanda, Rússia, entre outros europeus.</p>
                        <p>É o grupo organizador do FITU - Festival Internacional de Tunas Universitárias que, desde a sua primeira edição em 1991, acontece ininterruptamente na cidade de Braga. </p>
                        <p>Em Maio de 2000 comemorou o seu décimo aniversário, tendo este sido assinalado pelo lançamento do CD duplo "Tuna Universitária do Minho", composto por 31 músicas que marcaram o percurso da Tuna desde a sua fundação. Este foi reeditado em 2009. Em 2014 é lançado "Essência", o seu segundo álbum composto por 11 temas que procuram transmitir a essência viva da Tuna.</p>
                        <p>Como Tuna mais antiga da academia minhota, tem como tunas afilhadas a Azeituna - Tuna de Ciências da Universidade do Minho, a Tuna Académica do Externato Infante D. Henrique, a Afonsina - Tuna de Engenharia da Universidade do Minho e a Tuna Académica da Universidade Fernando Pessoa. Desde Maio de 1993, a Tuna Universitária do Minho está irmanada com a Tuna de Direito de Oviedo e, desde Abril de 2001, com a Tuna de Medicina do Porto.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test1.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test1.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test2.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test2.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test3.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test3.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test4.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test4.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test1.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test1.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test2.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test2.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test3.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test3.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/test/test4.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/test/test4.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tuna Universitária do Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modaltunao">
        <div id="closebt-container" class="close-modaltunao">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption tunao">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/tunao/logo.png"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Tun'ao Minho - Tuna Académica Feminina da Universidade do Minho</h1>
                                <p class="group_text">"É ter alma de estudante, capa negra de saudade e o minho no coração"</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 tunao group-desc">
                        <p>Em Novembro de 2012 surgiu a Tun'ao Minho - Tuna Académica Feminina da Universidade do Minho que, inspirada pelo folclore minhoto, prima pela originalidade e tradição.</p>
                        <p>Possui uma hierarquia interna, iniciando-se com as Bordadeiras (o escalão inferior); seguem-se as Lavradeiras (cujos trajos eram de gente pobre e trabalhadeira. Possuem um lenço no bolso do macacão, representado o compromisso para com a Tuna, simbolizando a tradiçao do lenço dos namorados); seguem-se as Capotilhas (cujo nome e elemento identificativo foi inspirado na capotilha, peça vermelha colocada sobre os dois ombros que normalmente era usada pelas raparigas solteiras); e por fim as Mordomas (grau correspondente às fundadoras da Tuna).</p>
                        <p>O nome surgiu como representação do alto cargo que estes membros possuem. Era com estes trajos que as moças se vestiam nas festas religiosas, sendo um dos trajos mais ricos, tal como era visível através do uso de peças de ouro.</p>
                        <p>Este grupo participa nos diversos eventos académicos, tendo não só actuado no Município de Braga como também por várias localidades do país.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery01.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery01.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery02.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery02.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery03.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery03.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery04.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery04.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery05.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery05.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                <a href="images/tunao/gallery06.jpg" itemprop="contentUrl" data-size="1024x683">
                                    <img src="images/tunao/gallery06.jpg" itemprop="thumbnail" alt="Image description" />
                                </a>
                                <figcaption itemprop="caption description">Tun'ao Minho
                                    <br/> Copyright <a target="_blank" style="color:#FFF;font-weight:bold" href="http://www.queirosfotografo.com/">Fotógrafo Alberto Queiros</a></figcaption>
                            </figure>
                        </div>
                        <!-- Root element of PhotoSwipe. Must have class pswp. -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalfitu" tabindex=1>
        <div id="closebt-container" class="close-modalfitu">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption fitu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/fitu/logo.jpg"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Festival Internacional de Tunas Universitárias</h1>
                                <p class="group_text">""</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html#bomboemia"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 tum group-desc">
                        <p>O FITU Bracara Avgvsta surgiu em Maio de 1991 com o objectivo de celebrar o aniversário da Tuna Universitária do Minho e divulgar junto do público Bracarense o fenómeno emergente das tunas universitárias que, após anos de letargia, reapareciam com fulgor um pouco por todo o país. Com periodicidade anual, realiza-se de forma ininterrupta desde a primeira edição.</p>
                        <p>Logo na primeira hora traçaram-se objetivos que distinguiram o FITU Bracara Avgvsta de outras organizações congéneres, procurando que a saudável competição não se sobrepusesse ao convívio entre as tunas participantes. Procurou-se retirar as tunas dos espaços fechados levando-as ao encontro da cidade. O desfile de tunas e a serenata à cidade na abertura do festival são exemplos disso.</p>
                        <p>Procurou-se de igual forma valorizar as tradições e valores culturais da cidade e da região junto das tunas que participam no festival. Assim sendo, desde a primeira edição, é oferecida à tuna vencedora, juntamente com o troféu, um instrumento típico da região (a viola braguesa). Nos próprios troféus procura-se também apostar em materiais que representem a excelência do artesanato minhoto, sendo que durante várias edições foram encomendados aos ceramistas locais.</p>
                        <p>Estas características fizeram com que o festival crescesse, tornando-se num dos mais importantes do país. Pelo FITU Bracara Avgvsta já passaram tunas de Portugal, Espanha, Holanda, Porto Rico e México.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalfuap" tabindex=1>
        <div id="closebt-container" class="close-modalfuap">
            <img class="closebt" src="images/closebt.svg">
        </div>
        <div class="modal-content modal-fix">
            <div class="carousel-caption">
                <div class="grupo_caption fuap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 col-xs-12"> <img class="img-responsive" src="images/fuap/logo.jpg"></div>
                            <div class="col-md-10 col-xs-12">
                                <h1 class="group_name">Festival Universitário de Artes Performativas</h1>
                                <p class="group_text">""</p>
                                <hr/>
                                <div class="text-right"><a href="contactos.html"><i class="fa fa-info-circle"></i> Contactos</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 fuap group-desc">
                        <p>O FUAP – Festival Universitário de Artes Performativas decorreu nos dias 27, 28 e 29 de Setembro de 2012, no Parque da Ponte – Braga.</p>
                        <p>O evento pretendeu juntar, num espaço multifuncional, o público jovem, incluindo o universitário, a juventude do concelho e convidá-los a interagir com públicos de outras faixas etárias, de outras paragens e de outras culturas.</p>
                        <p>O certame decorreu no Parque da Ponte, incluindo o Parque de Campismo Municipal, e compreendeu atividades a partir do início da tarde, com espectáculos e performances a acontecer em vários horários, diurnos e nocturnos, e em vários espaços do Parque da Ponte. Concertos (ao fim do dia), Workshops de Dança, Teatro, Música, Poesia, Oficinas de Jazz e de Escultura, Olaria, Desenho, entre outros, durante o período da tarde. </p>
                        <p>No final de cada tarde, houve espectáculos informais de Jazz ‘na relva’. Após o jantar, os espectáculos concentraram-se no Palco principal do evento, com nomes consagrados e emergentes da música popular portuguesa e de dois países convidados, bem como dos vários grupos culturais do Minho e de outras regiões do país. </p>
                        <p>No festival participaram bandas de renome como Diabo na Cruz, Nação Vira Lata, Kumpania Algazarra, Pé na Terra, Uxukalhus, Gaiteiros de Lisboa, Karroussel.</p>
                        <h2 class="margin-t-b"> Galeria</h2>
                        <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/assets/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/assets/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/assets/animatedModal.min.js"></script>
    <script type="text/javascript" src="/assets/photoswipe.min.js"></script>
    <script type="text/javascript" src="/assets/photoswipe-ui-default.min.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>

