<%= render "shared/navbar" %>
<div class="headline-bg educativo-headline-bg">
        <div class="overlay"></div>
    </div>
    <section class="content-section section section-on-bg">
        <div class="content-container container text-center">
            <div class="content-container-inner">
                <h1 class="title container text-center">ARCUM Educativo</h1>
                <hr>
                <div class="about">
                    <p>Um grande mundo onde a Associação Recreativa e Cultural Universitária do Minho se revê, e na qual aposta com grande empenho e dedicação, é o mundo educacional. Além da ARCUM estar associada à grande universidade do minho, esta é uma associação que lida diariamente com um corpo maioritariamente estudantil e em formação de 300 ativos. Um número que cresce de ano para ano e onde a grande maioria se prepara para entrar no mercado de trabalho.</p>
                    <p>Com um corpo ativo de estudantes prestes a integrar os desafios do mercado de trabalho, a ARCUM dedica-se à formação dos seus associados com competências transversais a todas as áreas, as tão conhecidas soft skills, e que hoje, mais do que nunca, se revelam como essenciais e essenciais ao desenvolvimento pessoal, profissional e que muitas vezes constituem critério eliminatório em entrevistas de emprego! As situações em que os associados são colocados, as experiências que vivenciam, responsabilidades que acarretam, ou as atividades em que simplesmente participam, permitem a este grupo de voluntários sair da sua zona de conforto, aumentando a sua experiência, que mais tarde se revelará sob a forma das mais variadas competências.</p>
                    <p>A ARCUM está então, e em muito, associada à Educação Não-Formal e à Aprendizagem Informal, onde os resultados de aprendizagem não são avaliados formalmente sob um único leque de critérios uniformes. Uma educação voluntária, não hierárquica e que se baseia na motivação intrínseca dos que procuram aprender sempre mais. Trata-se de duas abordagens educativas que oferecem ao indivíduo o adquirir de conhecimentos que a educação formal, ou a simples sala de aula como vulgarmente associamos, não consegue abordar. Complementando a Educação Formal instruída na entidade que nos acolhe, a Universidade do Minho, contribuímos para o desenvolvimento de indivíduos ímpares e uma sociedade mais completa. É isto que nos move: ARCUM como escola para a vida, capacitando de uma forma sustentável o corpo ativo e voluntário que dá força, corpo e motor a esta vida saudável que a ARCUM, com orgulho, apresenta.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="sections-wrapper">
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <section class="section carousel-wrapper bg-fix">
            <div class="container">
                <hr>
                <a name="escola"></a>
                <h2 class="title text-center">Escola de Música</h2>
                <hr>
                <div class="content margin-t-b">
                    <p>A Escola de Música é uma das mais fortes apostas da associação. O seu funcionamento assenta nos seguintes princípios:</p>
                    <ul>
                        <li>Proporcionar uma aprendizagem qualificada aos alunos que se pretendam iniciar na arte musical;</li>
                        <li>Dar aperfeiçoamento técnico aos alunos que já possuam conhecimentos musicais;</li>
                        <li>Divulgar a arte da música popular portuguesa numa perspectiva cultural;</li>
                        <li>Facilitar a integração de alunos da academia nos grupos culturais da ARCUM, sustentando o crescimento destes em quantidade e qualidade;</li>
                        <li>Criar, na Universidade do Minho, uma tradição que passa pelo preenchimento de um importante espaço para uma formação mais completa e equilibrada dos alunos enquanto pessoas através do ensino não-formal., bem como o enriquecimento da U.M. como instituição de educação e formação cultural;</li>
                        <li>Procurar abranger o maior número possível de alunos através da prática de preços simbólicos, permitindo assim o acesso a alunos de menores recursos financeiros.</li>
                    </ul>
                </div>
            </div>
            <div class="container text-center">
                <h4 class="title margin-t-b">Abertura de classes para aprendizagem</h4>
                <hr>
                <div class="row  margin-t-b">
                    <h4>- Sopros -</h4>
                    <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/clarinete.png"><span class="inst-name"> Clarinete</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/flautatransversal.jpg"><span class="inst-name"> Flauta Transversal</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/saxofone.gif"><span class="inst-name">Saxofone</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/trompete.jpg"><span class="inst-name"> Trompete</span></div>
                </div>
                <hr>
                <div class="row  margin-t-b">
                    <h4>- Cordas -</h4>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/baixo.jpg"><span class="inst-name"> Baixo</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/bandolim.jpg"><span class="inst-name"> Bandolim</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/braguesa.jpg"><span class="inst-name"> Viola Braguesa</span></div>

                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/classica.jpg"><span class="inst-name"> Guitarra Clássica</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/contrabaixo.jpg"><span class="inst-name"> Contrabaixo</span></div>

                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/violino.jpg"><span class="inst-name"> Violino</span></div>
                    <div class="col-md-2 col-md-offset-3 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/violoncelo.jpg"><span class="inst-name"> Violoncelo</span></div>
                     <div class="col-md-2 col-md-offset-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/cavaquinho.jpg"><span class="inst-name"> Cavaquinho</span></div>
                </div>
                <hr>
                <div class="row margin-t-b">
                    <h4>- Outros -</h4>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/acordeao.jpg"><span class="inst-name"> Acordeão</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/bateria.png"><span class="inst-name"> Bateria</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/canto.png"><span class="inst-name"> Canto</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/concertina.png"><span class="inst-name"> Concertina</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/formacao.jpg"><span class="inst-name"> Formação Musical</span></div>
                    <div class="col-md-2 col-sm-3 col-xs-6"><img class="img-responsive" src="images/instrumentos/percussão.jpg"><span class="inst-name"> Percussão</span></div>
                </div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <!--<section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <section id="poster-carousel" class="section carousel-wrapper">
            <div class="container">
                <hr>
                <h2 class="title text-center">Workshops</h2>
                <hr>
                <div id="carousel">
                    <a href="#" id="prev"> <i class="fa fa-chevron-left fa-2x"></i> </a>
                    <a href="#" id="next"> <i class="fa fa-chevron-right fa-2x"></i> </a>
                    <a href="#"><img src="images/cartazes/cartaz00007.jpg" id="item-1" /><span class="caption">Legenda</span></a>
                    <a href="#"><img src="images/cartazes/cartaz00008.jpg" id="item-2" /><span class="caption">Legenda</span></a>
                    <a href="#"><img src="images/cartazes/cartaz00007.jpg" id="item-3" /><span class="caption">Legenda</span></a>
                    <a href="#"><img src="images/cartazes/cartaz00009.jpg" id="item-4" /><span class="caption">Legenda</span></a>
                    <a href="#"><img src="images/cartazes/cartaz00008.jpg" id="item-5" /><span class="caption">Legenda</span></a>
                </div>
            </div>
        </section>-->
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <div class="sections-wrapper">
            <%= render "shared/partners" %>
            <section class="section groups-section">
                <div class="container-fluid groups-bg">
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                    <div class="g-overlay"></div>
                </div>
            </section>
        </div>
        <%= render "shared/footer" %>