<%= render "shared/navbar" %>
<section class="intro section section-on-bg">
    <div class="overlay"></div>
    <div class="container">
        <h2 class="title text-right animated fadeInRight">Associação Recreativa e Cultural<br />Universitária do Minho</h2>
    </div>
</section>
<div class="sections-wrapper" id="arcum_showcase">
    <section class="section showcase margin-t-b">
        <div class="container">
            <div class="row">
                <hr>
                <h2 class="title text-center">Os nossos grupos culturais</h2>
                <hr>
            </div>
            <div class="col-md-12 margin-t-b">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#bmb">--><img class="img-responsive" src="images/bomboemia/logo_full.png"></a>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#gfum">--><img class="img-responsive" src="images/gfum/logo.png"></a>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#gmp">--><img class="img-responsive" src="images/gmp/logo.png"></a>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#gpum">--><img class="img-responsive" src="images/gpum/logo_alt.png"></a>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#tum">--><img class="img-responsive" src="images/tum/logo.png"></a>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-6">
                        <!--<a href="cultural.html#tunao">--><img class="img-responsive" src="images/tunao/logo.png"></a>
                    </div>
                </div>
                <div class="row text-center margin-t-b"><a href="/cultural" class="btn btn-cta btn-cta-secondary" >Conheça o nosso lado cultural!</a></div>
            </div>
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <section class="section carousel-wrapper bg-fix" style="padding-bottom: 50px;">
        <div class="container">
            <hr>
            <h2 class="title text-center">Atividades de referência</h2>
            <hr>
            <div class="container">
            <div class="row group-flex">
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/logo_fitu.png"></div>
                        <div class="col-md-12 col-sm-12">
                                <h4>Festival Internacional de Tunas Universitárias - Bracara Avgvsta</h4>
                                <p style="text-align:justify">
                                    O FITU BRACARA AVGVSTA surgiu em Maio de 1990 com o duplo objectivo de celebrar o primeiro aniversário da Tuna Universitária do Minho (TUM) e divulgar junto do público Bracarense o fenómeno emergente das tunas universitárias que, após alguns anos de letargia, reapareciam com fulgor um pouco por todo o país.
                                </p>
                                <p>Mais informações em: <a href="http://fitu.pt">fitu.pt</a></p>
                            </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/logo_fump_sq2.png"></div>
                        <div class="col-md-12 col-sm-12">
                                <h4>Festival Universitário de Música Popular</h4>
                                <p style="text-align:justify">
                                    O FUMP tem na sua raíz um cariz diferenciado das restantes atividades culturais da cidade pois não se limita a um estilo único de música popular, juntando assim representações de vários trabalhos relacionados com a música popular, como workshops de cantares polifónicos e instrumentos tradicionais, culminado em actuações de variados grupos musicais de diferentes estilos de música popular.
                                </p>
                            </div>

                    </div>
                    
                     <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/dbas.png"></div>
                        <div class="col-md-12 col-sm-12">
                            <h4>Do Bira ao Samba</h4>
                            <p style="text-align:justify">
                                Festival de artes performativas que durante dois dias une, funde e celebra as tradições e cultura de Portugal e do Brasil celebrando a lusofonia e a ligação histórica destas duas nações. É também um festival que espelha em grande plano o trabalho elaborado diariamente pelos Bomboémia, grupo organizador: A dinamização dos ritmos portugueses e brasileiros.
                            </p>
                        </div>
                    </div>
                     <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/tunao.png"></div>
                        <div class="col-md-12 col-sm-12">
                            <h4>Tunão - Festival de Tunas Femininas</h4>
                            <p style="text-align:justify">
                                Com a sua primeira edição em 2016, o Tunão - Festival de Tunas Femininas tem a ambição de se tornar num dos festivais de refência no panorama nacional de tunas femininas, tendo vindo a crescer a olhos vistos contando já com 3 edições ininterruptas.
                            </p>
                        </div>
                    </div>
                    <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/fuap.png"></div>
                        <div class="col-md-12 col-sm-12">
                            <h4>Festival Universitário de Artes Performativas</h4>
                            <p style="text-align:justify">
                                O FUAP - Festival Universitário de Artes Performativas pretende juntar, num espaço multifuncional, o público jovem (universitário e a juventude do concelho de Braga) e públicos de outras faixas etárias, de outras paragens e culturas, convidando-os a interagir.
                            </p>
                        </div>
                    </div> 
                     <div class="group col-md-4 col-sm-6 col-xs-12">
                        <div class="col-md-12 col-sm-12"><img class="img-responsive" src="images/logos/cbracarense.png"></div>
                        <div class="col-md-12 col-sm-12">
                            <h4>Canção Bracarense</h4>
                            <p style="text-align:justify">
                                Fazendo uma viagem pelo cancioneiro bracarense, o Canção Bracarense tem como objetivo a preservação e divulgação da música e costumes tradicionais da região, contando para isso com a presença de vários outros grupos do concelho.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>

          
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <section class="section carousel-wrapper bg-fix" style="padding-bottom:50px;padding-top:50px;">
        <div class="container">
            <hr>
            <h2 class="title text-center">Escola de Música</h2>
            <hr>
            <div class="col-md-12">
                <div class="col-md-4 col-sm-12">
                    <a href="educativo.html#escola">
                        <img class="img-responsive" src="images/logos/emusica.png">
                    </a>
                </div>
                <div class="col-md-8 col-sm-12">
                    <p>
                        A Escola de Música foi criada com o objetivo de proporcionar um espaço de aprendizagem não só para os alunos da Universidade do Minho como também para toda a população bracarense. Procura divulgar a arte da música popular portuguesa através de aulas de instrumentos tradicionais. Além destes também são lecionados instrumentos clássicos.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
</div>
<%= render "shared/footer"%>
