<%= render "shared/navbar" %>
<div class="headline-bg sobre-headline-bg">
        <div class="overlay"></div>
    </div>
    <section class="content-section section section-on-bg">
        <div class="content-container container text-center">
            <div class="content-container-inner">
                <div class="about">
                    <img src="images/logos/arcum.png" />
                    <h1>Sobre nós</h1>
                    <hr>
                    <p>A ARCUM – Associação Recreativa e Cultural Universitária do Minho foi fundada no dia 14 de Junho de 1991, no seio da Universidade do Minho, em Braga, Portugal. É uma associação sem fins lucrativos, tendo como principais focos a recolha, investigação, divulgação e ensino da música portuguesa, bem como a defesa da etnografia e património imaterial nacional. A estes acrescem-se a promoção do intercâmbio cultural e recreativo com outras instituições nacionais e/ou estrangeiras e a intervenção social local.</p>
                    <p>Entre os grupos fundadores da ARCUM encontram-se o Grupo de Música Popular (fundado em 1984), o Grupo de Poesia, Guitarra e Flauta (fundado em 1984), a Tuna Universitária do Minho (fundada em 1990) e o Grupo de Fados de Coimbra (####ano). Nos anos seguintes surgem outros grupos que actualmente constituem a ARCUM: o Grupo Folclórico da Universidade do Minho (1993), os Bomboémia – Grupo de Percursão da Universidade do Minho (em 2005, fruto da reestruturação do Grupo de Cabeçudos, Gigantones e Zés-Pereiras) e a Tun’ao Minho – Tuna Académica Feminina da Universidade do Minho (2012). </p>
                    <p>A ARCUM conta ainda com uma Escola de Música criada com objectivo de proporcionar um espaço de aprendizagem não só para os alunos da Universidade do Minho como também para toda a população bracarense. Procura divulgar a arte da música popular portuguesa através de aulas de instrumentos tradicionais (como são exemplos o cavaquinho e a viola braguesa), sendo que são igualmente leccionados instrumentos clássicos (como são exemplos a guitarra clássica, o saxofone, a flauta transversal, entre outros). Indo de encontro aos pilares da associação, os valores praticados na Escola de Música têm em consideração o contexto social de modo que pessoas com menos recursos possam ter aulas.</p>
                    <p>No ambito cultural, a ARCUM, através dos seus grupos, organiza dois festivais que são marcos na agenda cultural da cidade de Braga: o FITU Bracara Avgvsta – Festival Internacional de Tunas Universitárias, e o FUMP – Festival Universitário de Música Popular. Em 2012, no ambito da Braga 2012 – Capital Europeia da Juventude, co-organizou o FUAP – Festival Universitária de Artes Performativas.</p>
                    <p>Ao longo deste tempo a ARCUM tem procurado, através das diversas actividades que realiza, acompanhar o crescimento da Universidade, bem como divulgar as tradições académicas e a região minhota no país e no estrangeiro. No entanto, este é e será sempre um projecto inacabado que exige uma constante renovação e uma participação dos alunos da Universidade e uma constante reeinvenção, característica do que é a nossa identidade e cultura. Felizmente, ao longo dos anos e dada a sua integração progressiva no meio universitário, tem vindo a aumentar o número de alunos que aderem a este projecto, trazendo novas ideias e vontade de trabalhar. Acima de tudo, não pode ser esquecido que a passagem pela universidade é não só uma oportunidade única para conhecer novas pessoas e lugares bem como para alargar a formação pessoal em áreas que o curso não abrange. É precisamente este espaço que esta associação tem procurado preencher, contando não só com o apoio da Academia mas também de diversas instituições e parceiros quer regionais quer nacionais.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <section class="section section-on-bg">
        <div class="container text-center" st>
            <h1>A Equipa</h1>
            <!--<div class="btn-group text-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Direcções anteriores <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="team-change" name="2015">2015</a></li>
                    <li><a class="team-change" name="2014">2014</a></li>
                </ul>
            </div>-->
            <hr/>
            <div id="2015" class="team-wrapper">
                <h4>Ano: 2015</h4>
                <h3 class="team-title">Direcção</h3>
                <div class="row team-content-holder">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                <h4 class="team-member-name">Henrique Antunes</h4>
                                <div class="team-description">
                                    <p>Presidente</p>
                                    <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                    <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                <h4 class="team-member-name">João Soares</h4>
                                <div class="team-description">
                                    <p>Vice-Presidente</p>
                                    <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                    <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                <h4 class="team-member-name">Maria Araújo</h4>
                                <div class="team-description">
                                    <p>Secretária</p>
                                    <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                    <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="images/team/2015/carla_ferreira.jpg" class="img-responsive team-member-img" alt="Team Member 1">
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                <h4 class="team-member-name">Carla Loureiro</h4>
                                <div class="team-description">
                                    <p>Tesoureira</p>
                                    <a target="_blank" href="mailto:carla.ferreira.loureiro@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                    <a target="_blank" href="https://www.facebook.com/carla.loureiro80"><span class="fa fa-facebook team-icon"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="images/team/2015/rui_guimaraes.jpg" class="img-responsive team-member-img" alt="Team Member 1">
                            </div>
                            <div class="col-md-9 col-sm-6 col-xs-6">
                                <h4 class="team-member-name">Rui Guimarães</h4>
                                <div class="team-description">
                                    <p>Tesoureiro Adjunto</p>
                                    <a target="_blank" href="mailto:armandomguimaraes@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                    <a target="_blank" href="https://www.facebook.com/rui.guimaraes.39"><span class="fa fa-facebook team-icon"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="team-title">Vogais</h4>
                    <div class="row team-content-holder">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Mariana dos Anjos</h4>
                                    <div class="team-description">
                                        <p>Directora do Departamento de Comunicação</p>
                                        <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="images/team/2015/ivone_costa.jpg" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Ivone Costa</h4>
                                    <div class="team-description">
                                        <p>Directora do Património</p>
                                        <a target="_blank" href="mailto:iiivonecosta@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="https://www.facebook.com/iiivonecosta"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Joana Silva</h4>
                                    <div class="team-description">
                                        <p>Directora da Escola de Música</p>
                                        <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="images/team/2015/joao_barbosa.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">João Barbosa</h4>
                                    <div class="team-description">
                                        <p>Director da Tuna Universitária do Minho</p>
                                        <a target="_blank" href="mailto:joaobarbosa27@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="https://www.facebook.com/joaobarbosa27"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="images/team/2015/maria_barbosa.jpg" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Inês Barbosa</h4>
                                    <div class="team-description">
                                        <p>Directora do Grupo Folclórico</p>
                                        <a target="_blank" href="mailto:ines.barbosa_ne@hotmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="https://www.facebook.com/ines.barbosa.100"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Mariana Marques</h4>
                                    <div class="team-description">
                                        <p>Directora dos Bomboémia</p>
                                        <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="images/team/2015/nadia_seixas.jpg" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Nádia Seixas</h4>
                                    <div class="team-description">
                                        <p>Directora da Tun’ao Minho</p>
                                        <a target="_blank" href="mailto:naniseixas@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="https://www.facebook.com/naniseixas"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Manuel Pinto</h4>
                                    <div class="team-description">
                                        <p>Director do Grupo de Música Popular</p>
                                        <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Fábio Ramalho</h4>
                                    <div class="team-description">
                                        <p>Director do Grupo de Poesia</p>
                                        <a target="_blank" href="mailto:fabiosramalho@gmail.com"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="https://www.facebook.com/fabio.ramalho.98"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                                </div>
                                <div class="col-md-9 col-sm-6 col-xs-6">
                                    <h4 class="team-member-name">Nuno da Costa</h4>
                                    <div class="team-description">
                                        <p>Administração Interna</p>
                                        <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                        <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="team-title">Mesa da Assembleia Geral</h3>
                <div class="row team-content-holder">
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">Nuno Pinto</h4>
                            <div class="team-description">
                                <p>Presidente</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">João Costa</h4>
                            <div class="team-description">
                                <p>Vice-Presidente</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">André Marcos</h4>
                            <div class="team-description">
                                <p>Secretário</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="team-title">Conselho Fiscal</h3>
                <div class="row team-content-holder">
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">José Gomes</h4>
                            <div class="team-description">
                                <p>Presidente</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">Rita Veloso</h4>
                            <div class="team-description">
                                <p>Vice-Presidente</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-0 col-xs-offset-2 col-xs-8">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <img src="http://www.adtechnology.co.uk/images/UGM-default-user.png" class="img-responsive team-member-img" alt="Team Member 1">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-6">
                            <h4 class="team-member-name">Sílvia Valente</h4>
                            <div class="team-description">
                                <p>Secretário</p>
                                <a target="_blank" href="mailto:"><span class="fa fa-envelope team-icon"></span></a>
                                <a target="_blank" href="#"><span class="fa fa-facebook team-icon"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="sections-wrapper">
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
        <div class="sections-wrapper">
            <%= render "shared/quotes" %>
            <%= render "shared/partners_large" %>
            <section class="section groups-section">
                <div class="container-fluid groups-bg">
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                    <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                    <div class="g-overlay"></div>
                </div>
            </section>
        </div>
        <footer id="contacts" class="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="footer-col contact col-md-2 col-sm-4 col-xs-12 col-md-offset-3">
                            <div class="footer-col-inner">
                                <h3 class="title">Contacte-nos</h3>
                                <p class="adr clearfix">
                                    <i class="fa fa-map-marker pull-left"></i>
                                    <span class="adr-group pull-left">
                                    <span class="street-address">Rua D. Pedro V, 88</span>
                                    <br>
                                    <span class="postal-code">4710-374</span>
                                    <br>
                                    <span class="country-name">Portugal</span>
                                    </span>
                                </p>
                                <p class="tel"><i class="fa fa-phone"></i>+351 253 610 877</p>
                                <p class="email"><i class="fa fa-envelope-o"></i><a href="mailto:arcum@arcum.pt">arcum@arcum.pt</a></p>
                            </div>
                        </div>
                        <div class="footer-col connect col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                            <div class="footer-col-inner">
                                <a target="_blank" href="https://www.google.pt/maps/place/R.+Dom+Pedro+V+88,+4710+Braga/@41.5535103,-8.4108299,16z/data=!4m7!1m4!3m3!1s0xd24fe96383d6ae1:0x6d251294ca70b35f!2sR.+Dom+Pedro+V+88,+4710+Braga!3b1!3m1!1s0xd24fe96383d6ae1:0x6d251294ca70b35f"><img src="images/map.png" style="border: 8px solid #fff;border-radius: 7px;"></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container text-right">
                    <small class="copyright">Copyright @ 2015 - Associação Recreativa e Cultural Universitária do Minho</small>
                </div>
            </div>
        </footer>