<%= render "shared/navbar" %>
<div class="headline-bg social-headline-bg">
    <div class="overlay"></div>
</div>
<section class="content-section section section-on-bg">
    <div class="content-container container text-center">
        <div class="content-container-inner">
            <h1 class="title container text-center">ARCUM Social</h1>
            <hr>
            <div class="about">
                <p>Um mundo e panorama que a ARCUM se orgulha de poder
                incluir na sua área de trabalho e ação a cada ano que passa
                é, sem dúvida, o mundo da responsabilidade social! Um mundo
                onde o ambiente e o balanço da riqueza e condições de vida
                são tidos em consideração para o desenvolvimento e
                crescimentos de ambos.</p>
                <p>Ao nível metodológico, a ARCUM opera a dois níveis:
                Interno, onde através dos nossos eventos e ações se tenta
                transmitir para as equipas de trabalho, e para os nossos
                parceiros e apoiantes, as noções básicas inerentes a
                temáticas e métodos de contribuir para o seu correto e
                rápido crescimento; Externo, onde a ARCUM intervém no
                sentido de criar cada vez mais parcerias com associações,
                municípios e outras entidades públicas/privadas no sentido
                de desenvolver novos projetos nesta área, capazes de
                acrescentar valor e ainda despoletar nos intervenientes a
                semente de vontade e interesse no associativismo em não
                parar e em desenvolver, por si, outras novas parcerias na
                área da responsabilidade social.</p>
                <p>Desta forma a ARCUM consegue contribuir e fazer a
                diferença naquela que é uma geração que não consegue só
                depender da ajuda corporativa e do governo para o seu
                desenvolvimento e sustentabilidade naquele que é um combate
                diário contra a desigualdade social e fraca sensibilização
                para a preservação ambiental.</p>
            </div>
        </div>
    </div>
</section>
<section class="section groups-section">
    <div class="container-fluid groups-bg">
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
        <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
        <div class="g-overlay"></div>
    </div>
</section>
<div class="sections-wrapper">
    <section class="section carousel-wrapper" id="poster-carousel">
        <div class="container">
            <hr>
            <h2 class="title text-center">Actividades</h2>
            <hr>
            <div class="content">
                Porque se realizam cenas mesmo doomz na arcum se realizam
                cenas mesmo doomz na arcum se realizam cenas mesmo doomz na
                arcum se realizam cenas mesmo doomz na arcum se realizam
                cenas mesmo doomz na arcum se realizam cenas mesmo doomz na
                arcum se realizam cenas mesmo doomz na arcum se realizam
                cenas mesmo doomz na arcum
            </div>
            <div id="carousel">
                <a href="#" id="prev"><i class=
                "fa fa-chevron-left fa-2x"></i></a> <a href="#" id=
                "next"><i class="fa fa-chevron-right fa-2x"></i></a>

                <a href="/images/cartazes/cartaz00007.jpg"><img id="item-3" src=
                "/images/cartazes/cartaz00007.jpg"></a>
                <a href="/images/cartazes/cartaz00009.jpg"><img id=
                "item-4" src="/images/cartazes/cartaz00009.jpg"></a>
                <a href="/images/cartazes/cartaz00008.jpg"><img id="item-5" src=
                "/images/cartazes/cartaz00008.jpg"></a>
            </div>
        </div>
    </section>
    <!--<section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <section class="section carousel-wrapper press-clips">
        <div class="container">
            <hr>
            <h2 class="title text-center">Recortes de imprensa</h2>
            <hr>
            <div class="carousel slide" data-ride="carousel" id=
            "press-carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target=
                    "#press-carousel"></li>
                    <li data-slide-to="1" data-target="#press-carousel">
                    </li>
                    <li data-slide-to="2" data-target="#press-carousel">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <img class="img-responsive" src=
                        "images/recortes/recorte001.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section class="section groups-section">
        <div class="container-fluid groups-bg">
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-1"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-2"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-3"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-4"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-5"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-6"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-7"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-8"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-9"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-10"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-11"></div>
            <div class="col-md-1 col-sm-1 col-xs-1 thumb-12"></div>
            <div class="g-overlay"></div>
        </div>
    </section>
    <div class="sections-wrapper">
        <%= render "shared/partners" %>
        <section class="section groups-section">
            <div class="container-fluid groups-bg">
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-13"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-14"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-15"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-16"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-17"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-18"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-19"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-20"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-21"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-22"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-23"></div>
                <div class="col-md-1 col-sm-1 col-xs-1 thumb-24"></div>
                <div class="g-overlay"></div>
            </div>
        </section>
    </div>
    <%= render "shared/footer"%>
</div>